@font-face {
    font-family: BeVietnam;
    src: url(/fonts/BeVietnam-Medium.ttf);  /* me parece que es la que mas se acerca */
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: BeVietnam, sans-serif;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0px;
    margin-bottom: 5.5rem;
/*    background-color: black;*/
}
nav ul{
    display: flex;
    list-style: none;

}
nav ul li a{            /*podria ser solo "a", pero a los otros a del footer habria que cambiarles el color a blanco*/
    text-decoration: none;
    cursor: pointer;
    color: black;
    margin-right: 15px;
}
li:last-child{
    margin-right: 0;
}
a:hover{
    color: gray;
}
.contacto-more{
    background-color: #8B48BF;
    color: white;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    padding: 15px 40px;
    font-size: 16px;  /* para ver opiniones */
    transition: background-color 0.5s ease;
}
.contacto-more:hover{
    background-color: #8B48BFB2;
}

.section1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 60px;
}
.section1 div{
    text-align: right;
}
.titulo{
    font-size: 2.5rem;
}
.texportada{
    font-size: 1.5rem;
    margin: 40px 0px;
}
.texportada p{
    padding: 5px;
}

@media (max-width: 400px) {
    
}

.mejoresdelmes, .more{
    margin: 150px 0;
    display: block;
    text-align: center;
    font-size: 1.7rem;
}
.tarjetas{
    display: flex;
    justify-content: center; /*se apreciaria bien tambien con space-around*/
    height: 150px;
    margin: 40px;
}
.tarjeta{
    position: relative;
    width: 450px;
    text-align: center;
    background-color: #FAFAFA;
    padding: 10px;
    height: 250px;
/*    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;  */
}
.tarjeta h3{
    margin: 60px 0 30px;
}
.tarjeta img{
    width: 70px;
 /*   margin: auto;   */
    position: absolute;
    top: -12.5%;
    left: 42.5%;
}
